@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: azure;
}
body {
    background-color: bisque;
}
h1 {
    text-align: center;
    padding: 20px;
    padding-bottom: 15px;
}
li {
    list-style-type: none;
    padding: 5px;
}
li:hover {
    background-color: rgb(30, 29, 29);
}
header a {
    text-decoration: none;
    color: white;
}
menu {
    background-color: black;
    text-align: center;
    display: block;
    display: none;
}
main {
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.119);
}
#meuMenu {
    color: brown;
    display: block;
    padding: 5px;
    width: 25px;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 5px;
}
#meuMenu:hover {
    color: black;
    background-color: rgba(42, 63, 63, 0.103);
}
h2 {
    margin: 10px;
    font-size: 1.3em;
}
main p {
    text-align: justify;
    text-indent: 20px;
}
